/**** element selectors ****/

h1 {
  font-size: 57px;
  
  margin: 0 0 2rem 0;
  padding: 1rem;
  
  color: #fff;
}

section h2 {
  color: hsl(216, 52%, 45%);
}

/* semi-transparent containers for cta button and pokemon */
article {
  padding: 1rem;
  width: 200px;
  
  border: 3px solid rgba(0, 0, 0, 0.6);
  border-radius: 1rem;
  
  background-color: rgba(255, 255, 255, 0.7);
}

/* cta button */
article p {
  text-align: center;
  
  margin: 0 0 1rem 0;
  
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 1rem;
  
  background-color: #000;
  color: hsl(216, 52%, 62%);
}

/* styles when button pressed */
article p:active {
  transform: scale(0.9);
  
  color: #fff;
}

/* centers pokemon gifs */
img {
  display: block;
  margin: auto;
}

/* container to position cta cards */
section div {
  display: flex;
  padding: 1rem;

  gap: 2rem;
  justify-content: center;
}

section h2 {
  padding: 1rem;
}

/* video player styles */
iframe {
  display: block;
  margin: 5rem auto 0 auto;
  height: 300px;
  width: 90%;
  
  border-radius: 1rem;
}

/**** class styles ****/

/* hero section */
.hero {
  height: 87vh;
  
  border-bottom: 3px solid black;

  background-image: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)), url(../images/hero-img2.jpg);
  background-position: center;
  background-size: cover;
}

/* ice caves information text */
.description {
  margin: auto;
  padding: 1rem;
  max-width: 60ch;
}

/* sets desktop styles */
@media screen and (width >= 50rem) {
  h1 {
    font-size: 70px;
    margin-bottom: 8rem;
  }

  /* cta container hover, active styles */
  article:hover {
    transform: scale(1.1);
  }

  article p:hover {
    transform: scale(1.1);
  }

  article p:active {
    transform: scale(1);
  }

  /* video player styles */
  iframe {
    height: 520px;
    width: 75%;
  }
}

/* small mobile display tweaks */
@media screen and (width < 454px) {
  h1 {
    font-size: 45px;
  }
}

.fade-in {
  animation: fadeIn 4s;
}

.slide-in-left {
  animation: slideInLeft 2s;
}

.slide-in-right {
  animation: slideInRight 2s;
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes slideInLeft {
  from {
    transform: translateX(-200px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(200px);
  }

  to {
    transform: translateX(0);
  }
}

