/**** element selectors ****/

/* container for nav, site title, logo */
header {
  border-bottom: 3px solid #000;
}

nav a {
  padding: 1rem 4rem;
  
  color: #fff;
}

nav li {
  padding: 1rem;

  background-color: #000;
}

/* turned site title into home page link, makes text black again */
div > a {
  color: #000;
}

nav a:active {
  color: hsl(216, 52%, 62%);
  background-color: hsl(0, 0%, 30%);
}

nav li:active {
  background-color: hsl(0, 0%, 30%);
}

/* different color for doormat nav links  */
footer a {
  color: #fff;
}

footer a:active {
  color: hsl(216, 52%, 62%);;
}

/**** class selectors ****/

.active-page {
  background-color: #000;
  color: hsl(216, 52%, 62%);
}

.border-bottom {
  border-bottom: 3px solid #fff;
}

/* sets main nav layout/styles, link hover/active effects on desktop*/
@media screen and (width >= 50rem) {
  header  {
    display: flex;
  
    align-items: center;
    justify-content: space-between;
  }

  /* container for links in main navigation */
  nav ul {
    display: flex;
    margin: 0 1rem;
  }

  nav li {
    padding: unset;
    
    background-color: unset;
  }

  nav a {
    padding: 1rem;

    color: #000;
  }

  nav a:hover {
    background-color: hsl(0, 0%, 0%);
    color: hsl(216, 52%, 62%);
  }

  nav a:active {
    background-color: #000;
    color: #fff;
  }

  nav li:active {
    background-color: unset;
  }

  footer a:hover {
    text-decoration: underline;
  }
}