/**** element selectors ****/

h1 {
  font-size: 40px;

  color: hsl(216, 52%, 45%);
}

main h2 {
  font-size: 25px;
}

/* flex item containers */
article {
  max-width: 57ch;
  padding: 1rem;
  margin: auto;
}

article ul {
  text-align: center;
}

button {
  display: block;
  margin: 3rem auto 0 auto;
}

/**** class selectors ****/

/* overall tour score */
.score {
  margin-bottom: 3rem;
}

/* sets desktop layout */
@media screen and (width >= 50rem) {
  article li {
    display: inline;
    margin-right: 2rem;
  }
}