/* sticky footer code */
body {
  display: flex;
  min-height: 100vh;
  
  flex-direction: column;
}

/* sticky footer code */
main {
  flex: 1 0 auto;
}

/* sticky footer code/styling */
footer {
  flex-shrink: 0;
  margin-top: 5rem;
  color: #fff;
  background-color: #000;
}

/* container for copyright info and logo and gifs in footer */
footer div {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;
}

footer img {
  margin: 0;
  max-width: 20%;
  display: block;
}

footer p {
  margin-bottom: 1rem;
  
}

.doormat-nav {
  gap: 1rem;
  flex-wrap: wrap;
}

.title-logo-container {
  display: flex;
  padding: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.site-title {
  margin: 0;
}

/* resizes svg logo */
.ice-cave-logo {
  height: 60px;
  width: 80px;
}

@media screen and (width >= 50rem) {
  .title-logo-container {
    display: flex;
    padding: 1rem;
    
    align-items: center;
    justify-content: center;
  }
}