/**** element selectors ****?

/* sticky footer code */
body {
  display: flex;
  min-height: 100vh;
  
  flex-direction: column;
}

/* sticky footer code */
main {
  flex: 1 0 auto;
}

/* sticky footer code/styling */
footer {
  flex-shrink: 0;

  margin-top: 5rem;

  background-color: #000;
  color: #fff;
}

/* container for copyright info, logo and doormat nav in footer */
footer div {
  display: flex;
  padding: 0 1rem 0 1rem;

  align-items: center;
  justify-content: center;
}

footer p {
  margin-bottom: 1rem;
}

/**** class selectors ****/

/* container for site title and logo in header and footer */
.title-logo-container {
  display: flex;
  padding: 1rem;
  
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.site-title {
  margin: 0;
}

/* resizes svg logo */
.ice-cave-logo {
  height: 60px;
  width: 80px;
}

/* container for doormat navigation */
.doormat-nav {
  flex-wrap: wrap;
  gap: 1rem;
}